<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <title>Trader Work</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="__PUBLIC__/css/templatemo_main.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/easyui/themes/easyui.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/easyui/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/easyui/themes/color.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/easyui/demo.css">
 
  <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/jquery.easyui.min.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script src="__PUBLIC__/js/templatemo_script.js"></script>

  
<script type="text/javascript">
		var toolbar = [{
			text:'Approve',
			iconCls:'icon-add',
			handler:function(){
				var row = $('#gd').datagrid('getChecked');
				var i = 0;
		        var str = "";
				alert(row.length);
		        for(i;i<row.length;i++)
				{
		            str += row[i].userid;
		            if(i < row.length-1){
		                str += ',';
		            }else{
		                break;
		            }
		        }	
				alert(str);
				if (row.length== 0) {
					alert("请选择要审批的用户");
					return;
				}
				if (row.length>0) {  
					$.messager.confirm('Confirm', '确定审批通过选择的用户?', function(r) {
						if (r) 
						{
							 $.post('deleteuser', 
								{ users : str
								  }, function(result) { 
								  $('#dg').datagrid('reload');}
								  );
						}
					});
				}
				
			}
		},
		{
			text:'Reject',
			iconCls:'icon-undo',
			handler:function(){alert('undo')}
		}];
		
		$('#gd').datagrid({
			onSortColumn: function (sort, order) {
            fun1(sort, order);
        }
})
</script>

<script type="text/javascript">
    $('#signout').click(function () {
      this.window.opener = null;  
	  window.close();  
	});
 </script>
	
</head>
	
<body>
  <div id="main-wrapper">
    <div class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <div class="logo"><h1>外汇系统平台管理</h1></div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> 
      </div>   
    </div>
    <div class="template-page-wrapper">
      <div class="navbar-collapse collapse templatemo-sidebar">
        <ul class="templatemo-sidebar-menu">
          <li>
            <form class="navbar-form">
              <input type="text" class="form-control" id="templatemo_search_box" placeholder="Search...">
              <span class="btn btn-default">Go</span>
            </form>
          </li>
          <li class="active"><a href="#"><i class="fa fa-home"></i>账户管理</a></li>
		  
		  <li class="sub">
            <a href="javascript:;">
              <i class="fa fa-database"></i> 出金入金 <div class="pull-right"><span class="caret"></span></div>
            </a>
            <ul class="templatemo-submenu">
              <li><a href="/pay/index.php/Home/SysManager/sysDrawcharge">出金</a></li>
              <li><a href="/pay/index.php/Home/SysManager/sysRecharge">入金</a></li>
            </ul>
          </li>
		  
		  <li class="sub">
            <a href="javascript:;">
              <i class="fa fa-database"></i> 实时外汇交易 <div class="pull-right"><span class="caret"></span></div>
            </a>
            <ul class="templatemo-submenu">
              <li><a href="/pay/index.php/Home/SysManager/sysPendingTrader">挂单交易</a></li>
              <li><a href="/pay/index.php/Home/SysManager/sysTrader">外汇交易</a></li>
            </ul>
          </li>
		  
		  <li><a href="/pay/index.php/Home/SysManager/sysHistTrader"><i class="fa fa-cog"></i>历史外汇交易</a></li>
          <li><a href="javascript:;" data-toggle="modal" data-target="#confirmModal"><i class="fa fa-sign-out"></i>退出</a></li>
        </ul>
      </div><!--/.navbar-collapse -->
	<form action="redirect.php" METHOD="POST" name="frm1">	
      <div class="templatemo-content-wrapper">
        <div class="templatemo-content">
          <ol class="breadcrumb">
            <li><a href="index.html">账户管理</a></li>
            <li><a href="#">充值</a></li>
            <li class="active"></li>
          </ol>
		
		 <table id="gd" title="账户信息" class="easyui-datagrid" style="width:100%;height:100%" 
			data-options="rownumbers:true,singleSelect:false,checkbox:true, url:'/pay/index.php/Home/SysManager/getUserList',method:'get',toolbar:toolbar">
			<thead>
						<tr>
							<th field="ck" checkbox="true" width="3%"></th>
							<th field="userid" width="5%">用户ID</th>
							<th field="username" width="5%">用户名</th>
							<th field="petname" width="8%">真实姓名</th>
							<th field="phonenum" width="8%" sortable="true">手机号码</th>
							<th field="email" width="10%">邮箱</th>
							<th field="levenum" width="10%">杠杆比例</th>
							<th field="balance" width="10%">余额</th>
							<th field="bindbank" width="10%">绑定银行</th>
							<th field="bindcardnum" width="15%">银行卡号</th>
							<th field="usertype" width="10%">账户类型 </th>
							<th field="userstatus" width="10%" sortable="true">账户状态</th>
						</tr>
					</thead>
		</table>
		
		
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Are you sure you want to login out?</h4>
            </div>
            <div class="modal-footer">
              <a href="/pay/index.php/Home/SysManager/index" class="btn btn-primary">Yes</a>
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
	  
		
		
        </div>
      </div>
	  
	  </form>

	  	
		
      <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">是否需要退出系统</h4>
            </div>
            <div class="modal-footer">
              <button type="button" id="signout" class="btn btn-default">是</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
            </div>
          </div>
        </div>
      </div>
		

		
      <footer class="templatemo-footer">
        <div class="templatemo-copyright">
          <p>Copyright &copy; 2084 Your Company Name </p>
        </div>
      </footer>
    </div>
</div>


    
	
  
  

  </body>
</html>