<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <title>Trader Work</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="__PUBLIC__/css/templatemo_main.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/easyui/themes/easyui.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/easyui/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/easyui/themes/color.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/easyui/demo.css">
  <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/templatemo_script.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/usermanager_script.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/jquery.easyui.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/js/jquery.json.js"></script>

  
<script type="text/javascript">
		var toolbar = [
			{
				text:'Approve',
				iconCls:'icon-add',
				handler:function(){audit('1')}
			},
			{
				text:'Reject',
				iconCls:'icon-undo',
				handler:function(){audit('2')}
			}
		];
		
		$('#dg').datagrid({
			onSortColumn: function (sort, order) {
            fun1(sort, order);
			}
		})
		
		function audit(flag){
				var row = $('#dg').datagrid('getChecked');
				var i = 0;
		        var str = "";
		        for(i;i<row.length;i++)
				{
		            str += row[i].userid;
		            if(i < row.length-1){
		                str += ',';
		            }else{
		                break;
		            }
		        }	
				if (row.length== 0) {
					alert("请选择要审批的用户");
					return;
				}
				if (row.length>0) {  
					$.messager.confirm('Confirm', '确定审批选择的用户?', function(r) {
						if (r) 
						{
							 $.post('/pay/index.php/Home/SysManager/auditUsers', 
								{ users : str, flag: flag
								}, function(result) {
									$.messager.show({
										title:'操作提示',
										msg:result,
										showType:'show'
									});
									$('#dg').datagrid('reload');}
								  );
						}
					});
				}
				
			}
</script>

<script type="text/javascript">
    $('#signout').click(function () {
      this.window.opener = null;  
	  window.close();  
	});
	
	function finish(data)
	{
		var divshow = $("#showInfo2");
        divshow.text("");
        divshow.append(data); 
	}
	function clearStyle_sys()
	{
		$("#guide_usermanger").attr("class", "");
		$("#guide_drawcharge").attr("class", "");
		$("#guide_recharge").attr("class", "");
		$("#guide_pendingtrader").attr("class", "");
		$("#guide_trader").attr("class", "");
		$("#guide_histtrader").attr("class", "");
	}
	
	function clickOper_sys(type)
	{
		var url_link;
		
		clearStyle_sys();
		
		switch(type)
		{
			case 1:
				$("#guide_usermanger").attr("class", "active");
				url_link = '/pay/index.php/Home/SysManager/userinfo';
				break;
			case 2:
				$("#guide_drawcharge").attr("class", "active");
				url_link = '/pay/index.php/Home/SysManager/sysDrawcharge';
				break;
			case 3:
				$("#guide_recharge").attr("class", "active");
				url_link = '/pay/index.php/Home/SysManager/sysRecharge';
				break;
			case 4:
				$("#guide_pendingtrader").attr("class", "active");
				url_link = '/pay/index.php/Home/SysManager/sysPendingTrader';
				break;
			case 5:
				$("#guide_trader").attr("class", "active");
				url_link = '/pay/index.php/Home/SysManager/sysTrader';
				break;
			case 6:
				$("#guide_histtrader").attr("class", "active");
				url_link = '/pay/index.php/Home/SysManager/sysHistTrader';
				break;
			default:
				url_link = '/pay/index.php/Home/SysManager/error';
				break;
		}
		
		$.ajax({
			type: 'POST',
			url: url_link,
			contentType: "application/x-www-form-urlencoded; charset=utf-8",
			success: finish
		});
	}
 </script>
	
</head>
	
<body onload="clickOper_sys(1)">
  <div id="main-wrapper">
    <div class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <div class="logo"><h1>外汇系统平台管理</h1></div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> 
      </div>   
    </div>
    <div class="template-page-wrapper">
      <div class="navbar-collapse collapse templatemo-sidebar">
        <ul class="templatemo-sidebar-menu">
          <li>
            <form class="navbar-form">
              <input type="text" class="form-control" id="templatemo_search_box" placeholder="Search...">
              <span class="btn btn-default">Go</span>
            </form>
          </li>
          <li id="guide_usermanger"><a onclick="javascript:clickOper_sys(1);"><i class="fa fa-home"></i>账户管理</a></li>
		  
		  <li class="sub">
            <a href="javascript:;">
              <i class="fa fa-database"></i> 出金入金 <div class="pull-right"><span class="caret"></span></div>
            </a>
            <ul class="templatemo-submenu">
              <li id="guide_drawcharge"><a onclick="javascript:clickOper_sys(2);">出金</a></li>
              <li id="guide_recharge"><a onclick="javascript:clickOper_sys(3);">入金</a></li>
            </ul>
          </li>
		  
		  <li class="sub">
            <a href="javascript:;">
              <i class="fa fa-database"></i> 实时外汇交易 <div class="pull-right"><span class="caret"></span></div>
            </a>
            <ul class="templatemo-submenu">
              <li id="guide_pendingtrader"><a onclick="javascript:clickOper_sys(4);">挂单交易</a></li>
              <li id="guide_trader"><a onclick="javascript:clickOper_sys(5);">外汇交易</a></li>
            </ul>
          </li>
		  
		  <li id="guide_histtrader"><a onclick="javascript:clickOper_sys(6);"><i class="fa fa-cog"></i>历史外汇交易</a></li>
          <li><a href="javascript:;" data-toggle="modal" data-target="#confirmModal"><i class="fa fa-sign-out"></i>退出</a></li>
        </ul>
      </div>

	  <div class="templatemo-content-wrapper">
         <text id="showInfo2"></text>
      </div>
	  


      <!-- Modal -->
      <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Are you sure you want to login out?</h4>
            </div>
            <div class="modal-footer">
              <a href="/pay/index.php/Home/SysManager/index" class="btn btn-primary">Yes</a>
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
	  
		
		
        </div>
      </div>
	  
	  </form>

	  	
		
      <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">是否需要退出系统</h4>
            </div>
            <div class="modal-footer">
              <button type="button" id="signout" class="btn btn-default">是</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
            </div>
          </div>
        </div>
      </div>
		

		
      <footer class="templatemo-footer">
        <div class="templatemo-copyright">
          <p>Copyright &copy; 2084 Your Company Name </p>
        </div>
      </footer>
    </div>
</div>


    
	
  
  

  </body>
</html>