<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <title>Trader Work</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width">        
  <link rel="stylesheet" href="__PUBLIC__/css/templatemo_main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/templatemo_main.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/easyui/themes/easyui.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/easyui/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/easyui/themes/color.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/easyui/demo.css">
  <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/jquery.easyui.min.js"></script>
</head>

<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    
<body>
  <div id="main-wrapper">
    <div class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <div class="logo"><h1>外汇系统平台管理</h1></div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> 
      </div>   
    </div>
    <div class="template-page-wrapper">
      <div class="navbar-collapse collapse templatemo-sidebar">
        <ul class="templatemo-sidebar-menu">
          <li>
            <form class="navbar-form">
              <input type="text" class="form-control" id="templatemo_search_box" placeholder="Search...">
              <span class="btn btn-default">Go</span>
            </form>
          </li>
          <li><a href="/pay/index.php/Home/SysManager/index"><i class="fa fa-home"></i>账户管理</a></li>
		  
		  <li class="sub">
            <a href="javascript:;">
              <i class="fa fa-database"></i> 出金入金 <div class="pull-right"><span class="caret"></span></div>
            </a>
            <ul class="templatemo-submenu">
              <li><a href="/pay/index.php/Home/SysManager/sysDrawcharge">出金</a></li>
              <li><a href="/pay/index.php/Home/SysManager/sysRecharge">入金</a></li>
            </ul>
          </li>
		  
		  <li class="sub open">
            <a href="javascript:;">
              <i class="fa fa-database"></i> 实时外汇交易 <div class="pull-right"><span class="caret"></span></div>
            </a>
            <ul class="templatemo-submenu">
              <li><a href="/pay/index.php/Home/SysManager/sysPendingTrader">挂单交易</a></li>
              <li class="active"><a href="#">外汇交易</a></li>
            </ul>
          </li>
		  
		  <li><a href="/pay/index.php/Home/SysManager/sysHistTrader"><i class="fa fa-cog"></i>历史外汇交易</a></li>
          <li><a href="javascript:;" data-toggle="modal" data-target="#confirmModal"><i class="fa fa-sign-out"></i>退出</a></li>
        </ul>
      </div><!--/.navbar-collapse -->
	<form action="redirect.php" METHOD="POST" name="frm1">	
      <div class="templatemo-content-wrapper">
        <div class="templatemo-content">
          <ol class="breadcrumb">
            <li><a href="index.html">账户管理</a></li>
            <li><a href="#">充值</a></li>
            <li class="active"></li>
          </ol>
		
		 <table id="dg" title="持单信息" class="easyui-datagrid" style="width:100%;height:100%"
					url="sysGetTradeList" pagination="true" rownumbers="true" fitColumns="true" singleSelect="true">
					<thead>
						<tr>
							<th field="tradeid" width="10%">订单号</th>
							<th field="userid" width="10%">用户ID</th>
							<th field="username" width="10%">用户名</th>
							<th field="goodname" width="10%">品种</th>
							<th field="tradetype" width="10%">类型</th>
							<th field="tradenum" width="10%">合约量</th>
							<th field="operstarttime" width="10%">开仓时间</th>
							<th field="operstartprice" width="10%">开仓价</th>
							<th field="stopgainprice" width="8%">止盈</th>
							<th field="stoplossprice" width="8%">止损</th>
							
						</tr>
					</thead>
		</table>
		
		
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Are you sure you want to login out?</h4>
            </div>
            <div class="modal-footer">
              <a href="/pay/index.php/Home/SysManager/index" class="btn btn-primary">Yes</a>
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
	  
		
		
        </div>
      </div>
	  
	  </form>

	  	
		
      <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">是否需要退出系统</h4>
            </div>
            <div class="modal-footer">
              <button type="button" id="signout" class="btn btn-default">是</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
            </div>
          </div>
        </div>
      </div>
		

		
      <footer class="templatemo-footer">
        <div class="templatemo-copyright">
          <p>Copyright &copy; 2084 Your Company Name <!-- Credit: www.templatemo.com --></p>
        </div>
      </footer>
    </div>
</div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/templatemo_script.js"></script>
	<script type="text/javascript">
    $('#signout').click(function () {
      this.window.opener = null;  
	  window.close();  
	});
  </script>
  </body>
</html>