
        <div class="templatemo-content">
          <ol class="breadcrumb">
            <li><a href="#">出金管理</a></li>
            <li><a href="#">绑定银行卡</a></li>
            <li class="active"></li>
          </ol>

		  <p class="margin-bottom-15">请确保账户信息填写无误.</p>
          <div class="row">
            <div class="col-md-12">
           
				<div class="row">
                <div class="col-md-6 margin-bottom-15">
                  <label for="singleSelect">开户行</label>
                  <select class="form-control margin-bottom-15" id="bank" name="bank">
                    <option value="中国工商银行" selected="selected">中国工商银行</option>
					<option value="中国建设银行">中国建设银行</option>
					<option value="中国农业银行">中国农业银行</option>
					<option value="中国银联">中国银联</option>
					<option value="招商银行">招商银行</option>
					<option value="支付宝">支付宝</option>
                  </select>
                </div>
				</div>
				
				<div class="row">
                   <div class="col-md-6 margin-bottom-15">
                    <label class="control-label" for="inputSuccess">卡号</label>
					<input type="text" class="form-control" id="bankCardNum" name="bankCardNum" /> 
                  </div> 
                </div>
    
                <div class="row">
                  <div class="col-md-6 margin-bottom-15">
                    <label for="password_1">用户密码</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="用户密码" />  
                  </div>
                  <div class="col-md-6 margin-bottom-15">
                    <label for="password_2">确认密码</label>
                    <input type="password" class="form-control" id="repassword" name="repassword" placeholder="确认密码" />  
                  </div>
                </div>
                
				

			  <div class="row templatemo-form-buttons">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary" onclick="javascript:submit_bindBankCard();">提交</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="reset" class="btn btn-default">重置</button>    
                </div>
              </div>

			  <div class="row">
				<div class="col-md-6 margin-bottom-15">
					<input type="hidden" id="userid" name="userid" value="{$userid}">
				</div>
			  </div>
			  
			  <div class="row">
				<div class="col-md-6 margin-bottom-15">
					<text id="bindBank_result"></label>
				</div>
			  </div>
			  
          </div>
        </div>
        </div>
	  


   