  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/easyui/themes/easyui.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/easyui/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/easyui/themes/color.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/easyui/demo.css">
  <script type="text/javascript" src="__PUBLIC__/js/jquery.easyui.min.js"></script>
  
  
    <div class="template-page-wrapper">

	<form action="/pay/index.php/Home/Recharge/drawDepositOper" METHOD="POST" name="frm1">	
      <div class="templatemo-content-wrapper">
        <div class="templatemo-content">
          <ol class="breadcrumb">
            <li><a href="#">出金管理</a></li>
            <li><a href="#">出金记录</a></li>
            <li class="active"></li>
          </ol>

		 <table id="dg" title="出金记录" class="easyui-datagrid" style="width:750px;height:500px"
					url="/pay/index.php/Home/Recharge/getHistDrawcharge" pagination="true" rownumbers="true" fitColumns="true" singleSelect="true">
					<thead>
						<tr>
							<th field="drawid" width="100">出金流水号</th>
							<th field="drawdate" width="70">出金时间</th>
							<th field="amount" width="70">金额</th>
							<th field="currentcy" width="70">交易币种</th>
							<th field="bank" width="70">账户银行</th>
							<th field="bankcardnum" width="70">账户账号</th>
							<th field="status" width="100">出金状态</th>
						</tr>
					</thead>
		</table>
		 
        </div>
      </div>
	  
	  </form>


    </div>
