      <form action="redirect.php" METHOD="POST" name="frm1">	
      <div class="templatemo-content-wrapper">
        <div class="templatemo-content">
          <ol class="breadcrumb">
            <li><a href="#">账户管理</a></li>
            <li><a href="#">充值</a></li>
            <li class="active"></li>
          </ol>

		  <p class="margin-bottom-15">请确保账户信息填写无误.</p>
          <div class="row">
            <div class="col-md-12">
              <form role="form" id="templatemo-preferences-form">
                <div class="row">
                  <div class="col-md-6 margin-bottom-15">
                    <label for="firstName" class="control-label">商户号</label>
                     <p class="form-control-static" id="username">{$Mer_code}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 margin-bottom-15">
                    <label>用户账号</label>
                    <p class="form-control-static" id="username">{$username}</p>
                  </div>
                  <div class="col-md-6 margin-bottom-15">
                    <label>用户邮箱</label>
                    <p class="form-control-static" id="email">{$email}</p>
                  </div>
                </div>
    
                <div class="row">
                  <div class="col-md-6 margin-bottom-15">
                    <label for="password_1">用户密码</label>
                    <input type="password" class="form-control" id="password" placeholder="用户密码" />  
                  </div>
                  <div class="col-md-6 margin-bottom-15">
                    <label for="password_2">确认密码</label>
                    <input type="password" class="form-control" id="repassword" placeholder="确认密码" />  
                  </div>
                </div>
                
				<div class="row">
                   <div class="col-md-6 margin-bottom-15">
                    <label class="control-label" for="inputSuccess">充值金额</label>
					<input type="text" class="form-control" id="Amount" /> 
                  </div> 
                </div>
				
				<div class="row">
                <div class="col-md-6 margin-bottom-15">
                  <label for="singleSelect">支付币种</label>
                  <select class="form-control margin-bottom-15" id="Currency_Type">
                    <option value="RMB" selected="selected">人民币</option>
                  </select>
                </div>
				</div>
				
				<div class="row">
                <div class="col-md-6 margin-bottom-15">
                  <label for="multipleSelect">支付方式</label>
                  <select  class="form-control margin-bottom-15" id="Gateway_Type">
                    <option value="01" selected="selected">借记卡</option>
                  </select>  
                </div>
				</div>

              <div class="row">
                <div class="col-md-6 margin-bottom-15">
                  <label for="notes">说明</label>
                  <textarea class="form-control" rows="2" id="comments"></textarea>
                </div>
              </div>

			  <div class="row templatemo-form-buttons">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary" onclick="redirect()">提交</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="reset" class="btn btn-default">重置</button>    
                </div>
              </div>

			  <div class="row">
				<div class="col-md-6 margin-bottom-15">
					<input type="hidden" id="userid" name="userid" value="{$userid}">
				</div>
			  </div>
            </form>
          </div>
        </div>
        </div>
      </div>
	  
	  </form>
	  
	  	<div id="BgDiv"></div>
		<div id="DialogDiv" style="display:none">
			<h2><a href="#" id="btnClose"></a></h2>
			请您在新打开的页面上完成付款。<br/>
			付款完成前请不要关闭此窗口。<br/>
			完成付款后请根据您的情况点击下面的按钮：<br>
			<input value="已完成付款" class="but" type="button" id="xxx" onclick="close_dig()"/>
			<input value="付款遇见问题" class="but" type="button" id="yyyy" onclick="close_dig()"/>
		</div>	

	