	<div class="templatemo-content">
          <ol class="breadcrumb">
            <li><a href="#">账户管理</a></li>
            <li><a href="#">个人信息</a></li>
          </ol>
		  
          <div class="row">
           
            <div class="col-md-6">
              <div class="templatemo-progress">
                <div class="list-group">
                  <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">提示</h4>
                    <p class="list-group-item-text">账户交易请确保该网站为指定合法网站。</p>
                  </a>

                </div>
               
              
              </div> 
            </div>
          </div>
          <div class="templatemo-panels">
            <div class="row">
              
              <div class="col-md-6 col-sm-6 margin-bottom-30">
                <div class="panel panel-primary">
                  <div class="panel-heading">用户信息</div>
                  <div class="panel-body">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>属性</th>
                          <th>内容</th>
                        </tr>
                      </thead>
                      <tbody>
						<tr>
                          <td>用户ID</td>
                          <td>{$userid}</td>
                        </tr>
                        <tr>
                          <td>用户名</td>
                          <td>{$username}</td>
                        </tr>
						<tr>
                          <td>用户类型</td>
                          <td>{$usertype}</td>
                        </tr>
						<tr>
                          <td>用户状态</td>
                          <td>{$userstatus}</td>
                        </tr>
                        <tr>
                          <td>邮箱</td>
                          <td>{$email}</td>
                        </tr>
                        <tr>
                          <td>杠杆比例</td>
                          <td>{$levenum}</td>
                        </tr>
						<tr>
                          <td>个人银行账户</td>
                          <td>{$bindcardnum}</td>
                        </tr>
						<tr>
                          <td>余额</td>
                          <td>{$balance}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                
              </div>       
            </div>
			
          </div>    
        </div>